:root {
  --k-c-white: #ffffff;
  --k-c-white-soft: #f8f8f8;
  --k-c-white-mute: #f2f2f2;

  --k-c-black: #181818;
  --k-c-black-soft: #222222;
  --k-c-black-mute: #282828;

  --k-c-grey: #eceff2;
  --k-c-grey-1: #e0e3e6;
  --k-c-grey-2: #ced9e3;
  --k-c-grey-3: #afb9c3;

  --k-c-blue: #007aff;

  --k-c-divider-light-1: #e0e3e6;
  --k-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --k-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --k-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --k-c-text-light-1: var(--k-c-black);
  --k-c-text-light-2: #5e6061;
  --k-c-text-light-3: #b3b3b3;
  --k-c-text-dark-1: var(--k-c-white);
  --k-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

:root {
  --shadow-0: none;
  --shadow-1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --shadow-2: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  --shadow-4: 0 4px 8px rgba(0, 0, 0, 0.16), 0 4px 8px rgba(0, 0, 0, 0.23);
  --shadow-8: 0 8px 16px rgba(0, 0, 0, 0.2), 0 8px 16px rgba(0, 0, 0, 0.19);
  --shadow-12: 0 12px 24px rgba(0, 0, 0, 0.22), 0 12px 24px rgba(0, 0, 0, 0.21);
  --shadow-24: 0 24px 38px rgba(0, 0, 0, 0.25), 0 24px 38px rgba(0, 0, 0, 0.22);

  --color-background: var(--k-c-white);
  --color-background-1: var(--k-c-grey);
  --color-background-2: var(--k-c-grey-1);
  --color-background-3: var(--k-c-grey-2);
  --color-background-4: var(--k-c-grey-3);

  --color-border: var(--k-c-divider-light-1);
  --color-border-hover: var(--k-c-divider-light-1);
  --color-border-active: var(--k-c-divider-light-1);

  --color-heading: var(--k-c-text-light-1);
  --color-text: var(--k-c-text-light-1);
  --color-text-secondary: var(--k-c-text-light-3);
  --color-text-counter: var(--k-c-text-light-2);

  --kanboard-column-gap: 24px;
  --main-padding: 24px;
  --column-padding: 16px;

  --columns-in-board: 3;
  --column-width: calc(
    (100% / var(--columns-in-board)) - var(--kanboard-column-gap) * (var(--columns-in-board) - 1) /
      var(--columns-in-board)
  );

  --stack-gap: 8px;

  --base-font: 600 13px/13px Inter, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--k-c-black);
    --color-background-1: var(--k-c-black-soft);
    --color-background-2: var(--k-c-black-mute);

    --color-border: var(--k-c-divider-dark-2);
    --color-border-hover: var(--k-c-divider-dark-1);

    --color-heading: var(--k-c-text-dark-1);
    --color-text: var(--k-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-weight: 600;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 13px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text-secondary {
  color: var(--color-text-secondary);
}
